<h1>Listing menu_items_menu_sections</h1>

<table>
  <tr>
    <th>Menu item</th>
    <th>Menu section</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menu_items_menu_sections.each do |menu_items_menu_section| %>
  <tr>
    <td><%= menu_items_menu_section.menu_item_id %></td>
    <td><%= menu_items_menu_section.menu_section_id %></td>
    <td><%= link_to 'Show', menu_items_menu_section %></td>
    <td><%= link_to 'Edit', edit_menu_items_menu_section_path(menu_items_menu_section) %></td>
    <td><%= link_to 'Destroy', menu_items_menu_section, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu items menu section', new_menu_items_menu_section_path %>
