<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :Address2 %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :City %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :State %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :Zipcode %><br />
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :Phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :Description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :TagLine %><br />
    <%= f.text_field :tagline %>
  </div>
  <div class="field">
    <%= f.label :LogoURL %><br />
    <%= f.text_field :logourl %>
  </div>
  <div class="field">
    <%= f.label :Password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :isCustomer %><br />
    <%= f.check_box :iscustomer %>
  </div>
  <div class="field">
    <%= f.label :SocialStatusMessage %><br />
    <%= f.text_field :socialstatusmessage %>
  </div>
  <div class="field">
    <%= f.label :Lat %><br />
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :Long %><br />
    <%= f.text_field :long %>
  </div>
  <div class="field">
    <%= f.label :Cuisine %><br />
    <%= f.text_field :cuisine %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
