<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
  <%= stylesheet_link_tag    "mobile" %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag "mobileview" %>

  <%= csrf_meta_tags %>
</head>
<!--<body data-lat="<%#=@address.lat %>" data-long="<%#=@address.long %>" onload="loadMap()">-->
<body data-lat="<%=@address.lat %>" data-long="<%=@address.long %>" >
<div data-role="page">

  <div data-role="header" data-theme="b">
    <div id="headerBlock">   <%= params[:id] %> </div>


    <a href="<%=url_for(:back) %>" data-mini="true" data-role="button" data-icon="back" > Back</a>
    <a href="<%=url_for(:action => 'show', :controller => 'restaurants',:format=>'mobile') %>"  data-icon="home" > Home</a>


  </div><!-- /header -->


  <div data-role="content">

    <div id="contact">
      Contact Us:
    </div>

    <div class="text">Phone: <span class="text2"><%= @address.phone %></span> </div>
    <div class="text">
      Address:<span class="text2"><%=@address.address1 %>,<%= @address.address2 %>,<%= @address.city %>,<%= @address.state %> </span>
    </div>

    <div id="map_canvas">

    </div>

</div><!-- /content -->

  <div data-role="footer" data-theme="b">
    <div data-role="navbar" data-iconpos="left">
      <ul>

        <li><a href="<%= url_for(menu_restaurant_path) %>" >Menu</a>  </li>
        <li><a href="<%= url_for(contact_restaurant_path) %>" class="ui-btn-active">Contact</a> </li>
        <li><a href="<%= url_for(getApp_restaurant_path) %>" >Get App</a> </li>

      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->
</div><!-- /page -->
</body>
</html>