<h1>Listing restaurants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address1</th>
    <th>Address2</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Phone</th>
    <th>Description</th>
    <th>Tagline</th>
    <th>Logourl</th>
    <th>Password</th>
    <th>Iscustomer</th>
    <th>Socialstatusmessage</th>
    <th>Lat</th>
    <th>Long</th>
    <th>Cuisine</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address1 %></td>
        <td><%= restaurant.address2 %></td>
        <td><%= restaurant.city %></td>
        <td><%= restaurant.state %></td>
        <td><%= restaurant.zipcode %></td>
        <td><%= restaurant.phone %></td>
        <td><%= restaurant.description %></td>
        <td><%= restaurant.tagline %></td>
        <td><%= restaurant.logourl %></td>
        <td><%= restaurant.password %></td>
        <td><%= restaurant.iscustomer %></td>
        <td><%= restaurant.socialstatusmessage %></td>
        <td><%= restaurant.lat %></td>
        <td><%= restaurant.long %></td>
        <td><%= restaurant.cuisine %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Restaurant', new_restaurant_path %>
