<div data-role="page">

  <div data-role="header" data-theme="b">
    <div id="headerBlock">   <%= params[:id] %> </div>

   <a href="<%=url_for(:back) %>" data-mini="true" data-role="button" data-icon="back" > Back</a>
    <a href="<%=url_for(:action => 'show', :controller => 'restaurants',:format=>'mobile') %>" data-mini="true" data-role="button" data-icon="home" > Home</a>



  </div><!-- /header -->

  <div data-role="navbar" data-iconpos="left">
    <ul>

      <li><a href="#" >Breakfast</a>  </li>
      <li><a href="#" >Lunch</a> </li>
      <li><a href="#" class="ui-btn-active">Dinner</a> </li>
      <li><a href="#" >Featured</a> </li>

    </ul>
  </div><!-- /navbar -->

  <div data-role="collapsible-set" data-theme="b" >

    <div data-role="collapsible" data-collapsed="false">
      <h3>Appetizers</h3>


      <% @restMenu=@restaurant.menu.menu_sections.where("name= ? ","Appetizers") %>
      <% @restMenu.each do | rest| %>

          <% @mesusec=MenuItemsMenuSection.find_all_by_menu_section_id(rest.id) %>

          <% @mesusec.each do | h | %>

              <% @item=MenuItem.where("id= ? AND meals= ? AND isactive= ? ",h.menu_item_id,"Dinner",true) %>

              <% @item.each do | item |  %>
                  <div class="backGround">
                    <!--<#%= item.name %> &nbsp;  <%#= item.price %>-->
                    <a href="<%= url_for(:controller => "restaurants",:action => "desc",:itemID=>"#{item.id}") %>" > <%= item.name %>           &nbsp;  <%= item.price %></a>
                  </div>

              <% end %>
          <% end %>
      <%end %>

    </div>

    <div data-role="collapsible">
      <h3>Salads</h3>

      <%  @restMenu=@restaurant.menu.menu_sections.where("name= ? ","Salads") %>
      <% @restMenu.each do | rest| %>

          <% @mesusec=MenuItemsMenuSection.find_all_by_menu_section_id(rest.id) %>

          <% @mesusec.each do | h | %>

                    <%#= MenuItem.find(h.menu_item_id).name %>
                    <% @item=MenuItem.where("id= ? AND meals= ? AND isactive= ? ",h.menu_item_id,"Dinner",true) %>

                    <% @item.each do | item |  %>
                        <div class="backGround">
                          <a href="<%= url_for(:controller => "restaurants",:action => "desc",:itemID=>"#{item.id}") %>" > <%= item.name %>           &nbsp;  <%= item.price %></a>
                        </div>

                    <% end %>
          <% end %>
      <%end %>
    </div>

    <div data-role="collapsible">
      <h3>Sandwiches</h3>
      <%  @restMenu=@restaurant.menu.menu_sections.where("name= ? ","Sandwiches") %>
      <% @restMenu.each do | rest| %>

          <% @mesusec=MenuItemsMenuSection.find_all_by_menu_section_id(rest.id) %>

          <% @mesusec.each do | h | %>

              <% @item=MenuItem.where("id= ? AND meals= ? AND isactive= ? ",h.menu_item_id,"Dinner",true) %>

              <% @item.each do | item |  %>
                  <div class="backGround">
                    <a href="<%= url_for(:controller => "restaurants",:action => "desc",:itemID=>"#{item.id}") %>" > <%= item.name %>           &nbsp;  <%= item.price %></a>
                  </div>

              <% end %>
          <% end %>
      <%end %>

    </div>
    <div data-role="collapsible">
      <h3>Entrees</h3>

      <%  @restMenu=@restaurant.menu.menu_sections.where("name= ? ","Entrees") %>
      <% @restMenu.each do | rest| %>

          <% @mesusec=MenuItemsMenuSection.find_all_by_menu_section_id(rest.id) %>

          <% @mesusec.each do | h | %>

              <% @item=MenuItem.where("id= ? AND meals= ? AND isactive= ? ",h.menu_item_id,"Dinner",true) %>

              <% @item.each do | item |  %>
                  <div class="backGround">

                    <a href="<%= url_for(:controller => "restaurants",:action => "desc",:itemID=>"#{item.id}") %>" > <%= item.name %>           &nbsp;  <%= item.price %></a>
                  </div>

              <% end %>
          <% end %>
      <%end %>
    </div>
    <div data-role="collapsible">
      <h3>Desserts</h3>
      <%  @restMenu=@restaurant.menu.menu_sections.where("name= ? ","Desserts") %>
      <% @restMenu.each do | rest| %>

          <% @mesusec=MenuItemsMenuSection.find_all_by_menu_section_id(rest.id) %>

          <% @mesusec.each do | h | %>

              <% @item=MenuItem.where("id= ? AND meals= ? AND isactive= ? ",h.menu_item_id,"Dinner",true) %>

              <% @item.each do | item |  %>
                  <div class="backGround">
                    <%= item.name %>            &nbsp;  <%= item.price %>
                  </div>

              <% end %>
          <% end %>
      <%end %>
    </div>

  </div>




  <div data-role="content">




  </div><!-- /content -->

  <div data-role="footer" data-theme="b">
    <div data-role="navbar" data-iconpos="left">
      <ul>

        <li><a href="<%= url_for(menu_restaurant_path) %>" class="ui-btn-active">Menu</a>  </li>
        <li><a href="<%= url_for(contact_restaurant_path) %>" >Contact</a> </li>
        <li><a href="<%= url_for(getApp_restaurant_path) %>" >Get App</a> </li>

      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->
</div><!-- /page -->