<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Address1:</b>
  <%= @restaurant.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @restaurant.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @restaurant.city %>
</p>

<p>
  <b>State:</b>
  <%= @restaurant.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @restaurant.zipcode %>
</p>

<p>
  <b>Phone:</b>
  <%= @restaurant.phone %>
</p>

<p>
  <b>Description:</b>
  <%= @restaurant.description %>
</p>

<p>
  <b>Tagline:</b>
  <%= @restaurant.tagline %>
</p>

<p>
  <b>Logourl:</b>
  <%= @restaurant.logourl %>
</p>

<p>
  <b>Password:</b>
  <%= @restaurant.password %>
</p>

<p>
  <b>Iscustomer:</b>
  <%= @restaurant.iscustomer %>
</p>

<p>
  <b>Socialstatusmessage:</b>
  <%= @restaurant.socialstatusmessage %>
</p>

<p>
  <b>Lat:</b>
  <%= @restaurant.lat %>
</p>

<p>
  <b>Long:</b>
  <%= @restaurant.long %>
</p>

<p>
  <b>Cuisine:</b>
  <%= @restaurant.cuisine %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
